.cryo-richtext {
    width: 100%;
    
    &:focus {
        outline: none;
    }

    &:empty:before {
        content: 'hello';
        color: gray;
    }

    &:empty:hover::before {
        cursor: text;
    }

    line-height: 30px;
}


.cryo-in-text-toolbar {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -130%);
    min-width: 200px;
    height: 30px;
    background-color: rgba(0, 0, 0, .50);
    border-radius: 4px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-left: 5px;
    user-select: none;
    opacity: 0;
    transition: .3s ease opacity;
    pointer-events:none;
}

.cryo-in-text-toolbar-item {
    min-width: 25px;
    height: 25px;
    border-radius: 4px;
    position: relative;
    margin-right: 5px;

    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, .2);
    }

    span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }
}