$main-color: #ff5722;
$main-color-hover: #e8572a;

.cryo-group {
    margin-bottom: 20px;
}

.cryo-btn {
    font-family: Roboto, sans-serif;
    border: 0;
    outline: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    &:hover{
        cursor: pointer;
    }
}

.cryo-btn-casual {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.cryo-btn-sm {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.cryo-btn-primary {
    background-color: $main-color;
    color: white;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: $main-color-hover;
    }
}

.cryo-btn-block {
    width: 100%;
}

.cryo-input {
    font-family: Roboto, sans-serif;

    .cryo-error-mess {
        display: 'none';
        overflow: 'hidden'; 
        color: rgba(224, 74, 74, .6);
    }

    label {
        font-size: 12px;
        font-stretch: 100%;
        font-weight: 500;
        letter-spacing: 2.4px;
        line-height: 12px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.6);
        display: inline;
        width: 100%;
        transition: color 0.3s ease;
    }
    
    input {
        width: 100%;
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        border: 0px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        width: 100%;
        color: rgb(84, 84, 84);
    }

    .cryo-label {
        margin-bottom: 10px;
        span {
            color: red;
            position: inline;
        }
    }

    .cryo-input {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    input:focus {
        outline: none;

        + div {
            span {
                label {
                    color: $main-color;
                }
            }
        }
    }

    input:hover {
        + div {
            span {
                label {
                    color: $main-color;
                }
            }
        }
    }

    .cryo-description {
        position: block;
        margin-top: 2px;
        color:rgba(0, 0, 0, 0.4);
    }
}

.cryo-flex{
    display: flex;
    flex-wrap: nowrap;
}

.cryo-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
    display: block;
}

.cryo-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 50px;
    height: 30px;
    background: grey;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
    top: 0;
}

.cryo-switch-label .cryo-switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 25px;
    height: 25px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.cryo-switch-checkbox:checked + .cryo-switch-label .cryo-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.cryo-switch-label:active .cryo-switch-button {
    width: 35px;
}

.cryo-switch-description {
    font-family: Roboto, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    padding-left: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    display: block;
}

.cryo-switch-description-wrapper{
    position: relative;
    width: 100%;
}

.cryo-hover-pointer:hover {
    cursor: pointer;
}

.cryo-mb {
    margin-bottom: 10px;
}